.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  max-height: 60vh;
  max-width: 60vw;
  margin: auto;
}

.row:before, .row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row img {
  height: 10vh;
  width: auto;
  margin: 0 15px 15px 0;
}